body {
background-image: url("../Bilder/kart2.jpg");
background-size:cover;
background-repeat: no-repeat;
text-align: center;
font-family: Tahoma, Geneva, sans-serif;

 }
 #underskrift{
   font-size: 150%;
   margin-top: -35px;

 }

.kolonne{
  text-align: left;
    border-style: solid;
    
    border-color: hotpink;
    
    
}

.box{
    width:1000px;
    height:2000px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-top: 30px;
}
h1 {
    font-size: 400%;
    font-family: Verdana;
}
.knapp1{
  height: 5em;
  width: auto;
}
.knapp2{
  height: 4.55em;
  width: auto;
  padding-bottom: 3px;
}
.white{
    background: rgba(255, 255, 255, 0.8);

}
    article {
      width: 70%;
    margin: 0 auto;
}
