body {

background-image: url("../Bilder/kart2.jpg");
background-size:cover;
background-repeat: no-repeat;
text-align: center;

       div {
        width: 200px;
        border: 5px white;
        padding: 5px;
        margin: 10px;
    }
    article {
      width: 50%;
    text-align: center;

}
