body {
background-image: url("../Bilder/kart2.jpg");
background-size:cover;
background-repeat: no-repeat;
text-align: center;
font-family: Tahoma, Geneva, sans-serif;

 }

.box{
    width:1000px;
    height:2000px;
    margin: auto;
    margin-top: -20px;
    padding-top: 30px;
}
h1 {
    font-size: 300%;
    font-family: Verdana;
}


.white{
    background: rgba(255, 255, 255, 0.8);

}
    article {
      width: 70%;
    margin: 0 auto;
}
